{% extends 'remont/base.html' %}
{% load static %}

{% block content %}
    <!-- При наследовании страницы, нужно писать подсоединение css в блоке -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

    <h2 class="main_text">Калькулятор стоимости ремонта</h2>

    <form method="post">
        {% csrf_token %}

        <!-- Количество квадратных метров -->
        <label for="numberInput">Площадь ремонта:</label>
        <input type="number" id="numberInput" name="numberInput">
        <br><br>

        <!-- Тип дома: Новостройка или Вторичка -->
        <label for="buildings">Тип дома:</label>
        <select id="buildings" name="buildings">
            {% for building in buildings %}
                <option>{{ building.building }}</option>
            {% endfor %}
        </select>
        <br><br>

        <!-- Тип помещения: Квартира, Дом, Офис -->
        <label for="houses">Тип помещения:</label>
        <select id="houses" name="houses">
            {% for house in houses %}
                <option>{{ house.house }}</option>
            {% endfor %}
        </select>
        <br><br>

        <label for="toilets">Количество санузлов:</label>
        <select id="toilets" name="toilets">
            {% for toilet in toilets %}
                <option>{{ toilet.count }}</option>
            {% endfor %}
        </select>
        <br><br>

        <label for="type_remont">Выберите тип ремонта:</label>
        <select id="type_remont" name="type_remont">
            {% for remont in remonts %}
                <option>{{ remont.type_of_remont }}</option>
            {% endfor %}
        </select>
        <br><br>

        <label for="style_remont">Стиль ремонта:</label>
        <select id="style_remont" name="style_remont">
            {% for style in styles %}
                <option>{{ style.style }}</option>
            {% endfor %}
        </select>
        <br><br>

        <input type="submit" value="Отправить">

  </form>
{% endblock %}